html {
    height: 100%;
    background-color: rgba(24, 24, 202, 0.945);
}

body {
    height: 100%;
    overflow-x: hidden;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    height: 130px;
    width: 100%;
}

@font-face {
    font-family: 'Snap ITC';
    src: url("/font/design.graffiti.SNAP____.ttf");
}

.txt-1 {
    font-family: Snap ITC;
    position: absolute;
    top: 3%;
    left: 10%;
    color: red;
    font-size: 40px;
}

/* header-nav */

.nav-links {
    position: absolute;
    left: 40%;
    top: 20%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
} 

.pulaki-link {
    text-decoration: none;
}


/* fim header */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: yellow;
    height: 150px;
    width: 100%;
}

.link-whatsapp {
        position: fixed;
        height: 60px;
        width: 60px;
        bottom: 150px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
}

.whats-img {
    height: 60px;
    width: 60px;
}

.link-instagram {
    position: fixed;
        height: 70px;
        width: 70px;
        bottom: 75px;
        right: 35px;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        z-index: 1000;
}

.insta-img {
    height: 60px;
    width: 60px;
}

.footer-letras {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1160px) {
    .ul-1 {
        visibility: hidden;
    }
    
}

/* main */

main {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 690px;
    left: 0;
}

.text-1 {
    color: #fff;
    text-align: center;
}

.img-1 {
    height: 800px;
    width: 80%;
    margin-left: 10%;
}

#text-drop {
    position: relative;
    display: flex;
    font-size: 50px;
    font-family: arial;
    font-weight: 900;
    left: 10%;
    top: 21%;
  }
  
  .P {
    opacity:0;
    animation: drop .4s linear forwards;
    color: red;
    font-family: Snap ITC;
  }
  
  .U {
    opacity:0;
    animation: drop .4s linear forwards .2s;
    color: red;
    font-family: Snap ITC;
  }
  
  .L {
    opacity:0;
    animation: drop .4s linear forwards .4s;
    color: red;
    font-family: Snap ITC;
  }
  
  .A {
    opacity:0;
    animation: drop .4s linear forwards .6s;
    color: red;
    font-family: Snap ITC;
  }
  
  .K {
    opacity:0;
    animation: drop .4s linear forwards .8s;
    color: red;
    font-family: Snap ITC;
  }

  .I {
    opacity:0;
    animation: drop .4s linear forwards 1.2s;
    color: red;
    font-family: Snap ITC;
  }
  
  @keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }
